* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Abel", 'Roboto', "Marcellus", sans-serif, "Marcellus SC", serif;
    scroll-padding-top: 65px;
    scroll-behavior: smooth;
}