/* Section */
.skills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f;
    color: #ffffff;
    padding: 30px 4%;
    min-height: 100vh;
    font-family: "Abel", sans-serif;
}

/* Título */
.skills-section .section-title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 30px;
    margin-top: 0;
    color: #f2f2f2;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}


@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.skills {
    padding-top: 10px;
}

.skills-section .section-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #efc68a;
    margin-top: 15px;
}

/* Descrição */
.skills-description {
    font-size: 1.2rem;
    color: #c2c2c2;
    line-height: 1.7;
    font-family: "Abel", serif;
    text-align: center;
    max-width: 800px;
    margin-bottom: 40px;
}



/* Front-End and Back-End */
.habilidades-gerais {
    padding: 60px 5%;
    background-color: #0f0f0f;
    color: #fff;
    text-align: center;
    font-family: "Abel", sans-serif;
}

.titulo-habilidades {
    font-size: 2.8rem;
    margin-bottom: 100px;
    color: #f2f2f2;
}

.titulo-habilidades span {
    color: #efc68a;
}

.blocos-habilidades {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.bloco {
    max-width: 400px;
}

.bloco h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #efc68a;
}

.bloco p {
    font-size: 1rem;
    color: #c2c2c2;
    line-height: 1.6;
}

.icones-habilidades {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.icones-habilidades img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.icones-habilidades img:hover {
    transform: scale(1.1);
}



/*idiomas*/
.idioma-extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.idioma-extra h4 {
    font-size: 1.2rem;
    color: #efc68a;
    margin-bottom: 10px;
    font-weight: 500;
    font-family: "Abel", sans-serif;
}

.idioma-extra img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0.75;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.idioma-extra img:hover {
    transform: scale(1.1);
    opacity: 1;
}





/*moldura*/
.sobre-section+section {
    padding-bottom: 90px;
    position: relative;
}

.sobre-section+section::after {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 20%;
    width: 60%;
    height: 3px;
    background-image: linear-gradient(to right,
            rgba(255, 255, 255, 0.2),
            #efc68a,
            #efc68a 50%,
            #efc68a,
            rgba(255, 255, 255, 0.2));
    border-radius: 1.5px;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2);
}






/* Telas pequenas (até 600px) */
@media (max-width: 600px) {

    .titulo-habilidades {
        font-size: 1.8rem;
        margin-bottom: 40px;
    }

    .idioma-extra {
        margin-top: 60px;
    }

    .idioma-extra h4 {
        font-size: 0.95rem;
        margin-bottom: 6px;
    }

    .idioma-extra img {
        width: 25px;
        height: 25px;
    }
}


/* Telas médias (até 1020px) */
@media (max-width: 1020px) {

    .titulo-habilidades {
        font-size: 2.2rem;
        margin-bottom: 80px;
    }

    .skills-section .section-title {
        font-size: 2.8rem;
    }

    .skills-description {
        font-size: 1rem;
        padding: 0 2%;
    }

    .idioma-extra {
        margin-top: 80px;
    }

    .idioma-extra h4 {
        font-size: 1rem;
        margin-bottom: 8px;
    }

    .idioma-extra img {
        width: 30px;
        height: 30px;
    }
}